- if @blog.nil?
  .well
    -if current_user.nil?
      current_user is not defined. You have to be logged in with Devise in order to configure your first blog.
    - else
      Create your first blog
- else
  - if @posts.empty?
    .well.centered
      = link_to "Create Your First Post Tagged with “#{@tag}”", new_post_path, :class => "btn"
  - else
    %h3.head Posts Tagged with “#{@tag}”
    - old_date = DateTime.now + 1.day
    - @posts.each do |post|
      - @post = post
      - unless @post.nil?
        - unless old_date.day == @post.written_at.day and old_date.month == @post.written_at.month and old_date.year == @post.written_at.year
          %h3.head
            = @post.written_at.strftime("%B %d, %Y")
        = render "post"
        - old_date = @post.written_at
    = will_paginate(@posts, :renderer => BootstrapPagination::Rails)
