= form_for @blog, :html => {:class => "well", :multipart => true} do |f|
  = f.hidden_field :retained_logo
  = f.hidden_field :retained_background
  - if @blog.errors.any?
    #error_explanation
      %h5
        = pluralize(@blog.errors.count, "error")
        prohibited this blog from being saved:
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg
  %h4 Main
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description

  %h4 Graphics
  .field
    = f.label :logo
    = f.file_field :logo

  .field
    = f.label :background
    = f.file_field :background

  %h4 Under the Hood
  .field
    = f.label :twitter, "Your Twitter Handle"
    = f.text_field :twitter, :placeholder => "e.g. vasinov"
  .field
    = f.label :google_analytics, "Google Analytics ID"
    = f.text_field :google_analytics, :placeholder => "e.g. UA-00000000-1"

  .actions
    = f.submit :class => "btn btn-primary"