!!! 5
%html
  %head
    %title Slate
    = stylesheet_link_tag    "slate/application", :media => "all"
    = javascript_include_tag "slate/application"
    = csrf_meta_tags
  %body
    .container
      - if alert
        .alert.alert-error.alert-block
          %a.close{"data-dismiss" => "alert"} ×
          = alert
      - if notice
        .alert.alert-info.alert-block
          %a.close{"data-dismiss" => "alert"} ×
          = notice
      = yield